.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: min(520px, 80vw);
  padding-top: 8px !important;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  @media (max-width: 520px) {
    grid-template-columns: 1fr;
  }
}

.spinner {
  display: inline-block;
}
